body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1909px;
  width:120px;
  height:50px;
}
#u52_img.selected {
}
#u52.selected {
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1909px;
  width:120px;
  height:50px;
}
#u53_img.selected {
}
#u53.selected {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1909px;
  width:120px;
  height:50px;
}
#u54_img.selected {
}
#u54.selected {
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:1909px;
  width:120px;
  height:50px;
}
#u55_img.selected {
}
#u55.selected {
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:281px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1959px;
  width:480px;
  height:280px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:476px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:281px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1959px;
  width:480px;
  height:280px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:476px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:281px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1959px;
  width:480px;
  height:280px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:476px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:281px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1959px;
  width:480px;
  height:280px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:476px;
  word-wrap:break-word;
}
